<div class="container">
    <br>
    <div class="row g-2 text-center">
        {# TODO: 링크 추가 #}
        <div class="col-6">
            <div class="border rounded p-3 bg-body-secondary">
                링크
            </div>
        </div>
        <div class="col-6">
            <div class="border rounded p-3 bg-success-subtle">
                링크
            </div>
        </div>
        <div class="col-6">
            <div class="border rounded p-3 bg-warning-subtle">
                링크
            </div>
        </div>
        <div class="col-6">
            <div class="border rounded p-3 bg-dark-subtle">
                링크
            </div>
        </div>
    </div>
</div>